@import '../Variables/Variables.scss';
@import '../Mixin/Mixin.scss';
.mainPage {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: $red-color;
	}
	button {
		@include buttonStyle($red-color, 15px);
	}
}
